.hide {
  display: flex;
}
.unhide {
  display: none;
}

/* .top{
    transform: translateX(25%);
} */
.top1 {
  transform: translateX(0);
}
.inside1 {
  transform: translateX(-12%);
}

@media (max-width: 1100px) {
  .hide {
    display: none !important;
  }
  .unhide {
    display: block !important;
  }
  .top {
    transform: translateX(2%);
  }
  .inside1 {
    transform: translateX(4%);
  }
  .insidetop {
    transform: translateY(100px);
  }
}

@media (min-width: 1207px) {
  .top1 {
    transform: translateX(140px);
  }
}
